@import 'anim';
@import 'global';

@import 'releases/releases';

.header {
    background: #47475A;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    &__home-link {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 53px;
        margin-right: 5px;
    }

    &__site-descr {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
    }

    &__site-head {
        font-size: 19px;
    }

    &__site-subhead {
        font-size: 13px;
        color: #C6C6C6;
    }

    &__menu-list {
        display: flex;
        font-size: 14px;
        font-weight: bold;
        color: #E3E3E3;
        gap: 10px;
    }

    &__menu-item {
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__menu-item::after {
        content: '';
        position: absolute;
        height: 5px;
        background: #F56D6D;
        width: 0%;
        bottom: -5px;
    }

    &__menu-item:hover::after {
        width: 100%;
    }

    &__login-inner {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__login-link {
        font-size: 14px;
    }

    &__reg-link {
        font-weight: bold;
        background: #F56D6D;
        border-radius: 7px;
        padding: 7px 12px;
    }
}


.wrapper {
    flex: 1;
    display: flex;
}

.wrapper__container {
    display: flex;
    padding-right: 0;
}


.wrapper__head {
    font-weight: bold;
    font-size: 19px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.wrapper__head::after {
    content: '';
    height: 5px;
    background: #F56D6D;
    width: 100%;
}


.nav {
    padding-top: 70px;
    width: 304px;
    background: #5A5A73;
    display: flex;
    flex-direction: column;

    &__section {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__section-head {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__goto-list {
        display: flex;
        flex-direction: column;
    }

    &__goto-item {
        position: relative;
        background: #54546B;
        display: flex;
    }

    &__goto-item::before {
        z-index: 0;
        position: absolute;
        content: '';
        background: #3E3E4F;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0%;
    }

    &__goto-item:hover::before {
        width: 100%;
    }

    &__goto-item--use {
        background: #3E3E4F;
    }

    &__goto-item-link {
        z-index: 0;
        flex: 1;
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }

    &__goto-category-icon {
        height: 30px;
        margin-right: 10px;
    }

    &__goto-item-name {
        font-size: 17px;
        color: #E3E3E3;
    }

    &__wrapper {
        flex: 1;
    }
}


.footer {
    padding: 20px;
    background: #3E3E4F;

    &__about-rights {
        font-size: 12px;
        color: #B9B9B9;
    }
}


.content {
    flex: 1;
    padding-top: 70px;
    padding-right: 20px;
    padding-bottom: 60px;

    &__head {
        margin-bottom: 30px;
    }

    &__section {
        display: flex;
        flex-direction: column;
    }
}


.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0000008C;
    display: flex;
    align-items: center;
    justify-content: center;

    &__close-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        height: 29px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__pop-up {
        width: 513px;
        background: #353551;
        box-shadow: 0px 0px 20px 0px #000000D9;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        clip: auto;
        overflow: hidden;
    }

    &__header-decor {
        height: 10px;
        background: #F56D6D;
    }

    &__form {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    &__head {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__input {
        padding: 15px;
        background: #242432;
        border-radius: 7px;
        border: none;
        outline: none;
        margin-bottom: 20px;
        font-size: 15px;
        color: #C6C6C6;

        &--hidden {
            display: none;
        }
    }

    &__input::placeholder {
        color: #C6C6C680;
    }

    &__btn-inner {
        display: flex;
        gap: 10px;
    }

    &__btn {
        flex: 1;
        padding: 10px 15px;
        background: #F56D6D;
        border-radius: 7px;
        font-weight: bold;
        font-size: 17px;
        color: #ECECEC;
        border: none;

        &--hidden {
            display: none;
        }
    }
}

.register {
    &--hidden {
        display: none;
    }
}

.auth {
    &--hidden {
        display: none;
    }
}